﻿html {
    overflow-x: hidden;
}

#main_container {
    float: left;
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

#main_container #ori_main_logo {
    position: absolute;
    width: 7vw;
    padding: 1vw;
}

#right_side_bar {
    position: absolute;
    float: left;
    width: 4%;
    height: 100%;
    margin-left: 96%;
    background-color: var(--dark-grey);
    z-index: 1;
}

#videoplayer_grid_container {
    width: 100vw;
    height: 100vh;
    position: absolute;
}
