﻿:root {
    --orange: #ff730e;
    --black: #000000;
    --white: #ffffff;
    --PlayerHeight: calc(100vw * 1080 / 1920);
}

#MainPlayer_Container {
    float: left;
    width: 100%;
    height: var(--PlayerHeight);
    max-height: var(--MaxPlayerHeight);
    background-color: var(--grey);
}