﻿
.FloatingBlock {
    position: absolute;
    min-height: 10vw;
    min-width: 16vw;
    left: 200px;
    top: 200px;
    z-index: 2;
    border: 0.2vw solid black;
    background-color: transparent;
    cursor:pointer;
}

.FloatingBlock .Footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 2vw;
    padding-left: 50%;
    top: calc(100% - 2vw);
    box-shadow: 0px -3px 5px -1px rgba(0,0,0,.4);
    background-color: var(--grey);
    z-index: 2;
    font-size: 1vw;
}