﻿#MainPlayer_Container #OriPlayer, #MainPlayer_Container #MainPlayerUI_Container {
    position: absolute;
    width: 100%;
    height: var(--PlayerHeight);
    max-height: var(--MaxPlayerHeight);
}

#MainPlayerUI_Container .MainPlayerUI_Button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    transition: 0.3s;
    background-repeat: no-repeat;
}

#MainPlayerUI_Container .MainPlayerUI_PlayButton {
    background-image: url(/wwwroot/Images/SVG/Play.svg);
}

#MainPlayerUI_Container .MainPlayerUI_StopButton {
    background-image: url(/wwwroot/Images/SVG/Stop.svg);
}

#MainPlayerUI_Container .MainPlayerUI_SideBar, .MainPlayerUI_SideBarBackground {
    position: absolute;
    width: calc(100vw / 30);
    left: 100%;
    transform: translateX(-100%);
    height: var(--PlayerHeight);
    max-height: var(--MaxPlayerHeight);
}

.MainPlayerUI_SideBarBackground {
    background-color: var(--black);
    opacity: 0.5;
}

.MainPlayerUI_SideBar .ItemsGroup {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
}

.MainPlayerUI_SideBar .BottomItems {
    top: 70%;
    height: 30%;
}

.MainPlayerUI_MenuItem {
    float: left;
    display: block;
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 2.3vw;
    color: white;
    opacity: 0.8;
}

.MainPlayerUI_MenuItem i:hover {
    color: var(--orange);
}