﻿
.FloatingBlock .Frame {
    position: absolute;
    overflow:hidden;
    width: 100%;
    height: 100%;
    background:white;
}

.FloatingBlock .Frame iframe, .Cover {
    position: absolute;
    height: 100vh;
    width: 100vw;
    transform-origin: left top;
    overflow: hidden;
    border: none;
}

.FloatingBlock .Frame .Cover {
    width: 100%;
    height: 100%;
    cursor: move;
}

.FloatingBlock .Footer .FooterItem {
    flex: 1;
    float: left;
    color: var(--white);
    background-color: var(--grey);
    cursor: pointer;
}

.FloatingBlock .Footer .FooterItem i, .FloatingBlock .Footer .FooterItem svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.FloatingBlock .Footer .FooterItem:hover {
    color: var(--orange);
}

.FloatingBlock .Footer .Remove {
    font-size: 1.5vw;
}

.FloatingBlock .LoadIndicator {
    position: absolute;
    width: 2vw;
    height: 2vw;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}