﻿.right_side_bar_control_group {
    display: flex;
    flex-direction: column;
    float: left;
    width: 100%;
    height: 30vh;
    margin-top: 70vh;
}

.right_side_bar_item {
    float: left;
    width: 100%;
    height: 25%;
    min-height: 1.8vw;
}

.right_side_bar_item div {
    position: relative;
    transform: translate(-20%, -20%);
    width: auto;
    top: 50%;
    left: 50%;
    font-size: 1.8vw;
    color: var(--white);
    cursor: pointer;
}

.right_side_bar_item div svg:hover {
    color: var(--orange);
}
