﻿
.stream_list {
    position: absolute;
    background-color: var(--orange);
}

.stream_list .stream_list_field_container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.stream_list .stream_list_field {
    position: relative;
    height: 2.0vw;
    width: calc(100% - 0.3vw);
    margin-top: 2%;
    cursor: pointer;
    box-sizing: unset;
    background-color: var(--light);
    border-left: solid 0.1vw var(--gray);
    border-right: solid 0.1vw var(--gray);
    margin-left: 0.1vw;
    color: var(--gray);
}

.stream_list .stream_list_field .description_container {
    float: left;
    width: 100%;
    height: 100%;
}

.stream_list .stream_list_field .description_container .description {
    position: relative;
    float: left;
    top: 50%;
    height: 80%;
    width: 94%;
    padding-top: 2%;
    padding-left: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transform: translate(0, -75%);
    text-align: center;
    overflow: hidden;
    font-size: 90%;
    z-index:1;
}

.stream_list .stream_list_field .description_container .description:hover {
    color: var(--orange);
    transition: all 0.2s;
}
