﻿
.plyr {
    position: absolute;
    min-height: 10vw;
    min-width: 16vw;
    z-index: 1;
    cursor: pointer;

    /*For preventing strange behavior during dragging of player after fullscreen*/
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.plyr .player_controls {
    display: flex;
    width: 100%;
    position: absolute;
    padding-right: 70%;
    top: 100%;
    transform: translate(0, -100%);
    background-color: transparent;
    z-index: 2;
}

.plyr .player_controls .player_control {
    flex: 1;
    color: var(--white);
    padding: 0.5vw;
    font-size: 1.4vw;
}

.plyr .player_controls .player_control svg {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

.plyr .player_controls .player_control svg[data-hover=orange_control]:hover {
    color: var(--orange);
}

.plyr .player_controls .player_control svg[data-hover=dark_control]:hover {
    color: var(--dark);
}

.plyr__control[data-ori_action=close] {
    float: right;
    margin-right: 1px;
}

.plyr__control[data-ori_action=close] {
    width: 32px;
    height: 34px;
    font-size: 20px;
}

.plyr__control[data-ori_action=show_stream_list] {
    position: relative;
    transform: translate(5%, -10%) !important;
}

.plyr--video .plyr__controls {
    z-index: 1;
}

.plyr__video-wrapper {
    height: 100%;
    background-color: var(--dark);
}

