﻿
#videoplayer_grid_controls {
    position: absolute;
    display: flex;
    width: calc(100vw / 10);
    height: calc(100vw / 10);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#videoplayer_grid_controls svg {
    flex: 1;
    display: none;
    position: relative;
    width: 30%;
    top: 50%;
    left: 1%;
    transform: translate(0, -50%);
    font-size: 2.5vw;
}

#videoplayer_grid {
    position: absolute;
    z-index: 2;
    opacity: 0.6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#videoplayer_grid_elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}