﻿@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Main test page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.js"></script>
    <!-- Config Mocha for BDD testing -->
    <script>
        mocha.setup('bdd');
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chai/2.0.0/chai.js"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
    <script>
        var assert = chai.assert;
    </script>

    <style>
        #video, #video2, #video3 {
            position: relative;
            background-color: #AAAAAA;
            width: 10vw;
            height: 10vw;
            left: 5px;
        }
    </style>
</head>

<body>

    <p style="position:relative; top: 1vw; left: 1vw; width:99vw">HTML5 Video: </p>
    <div id="floating_block_container">
        <video id="video" playsinline="" muted=""></video>
        <video id="video2" playsinline="" muted=""></video>
        <video id="video3" playsinline="" muted=""></video>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    @Html.Raw(ViewBag.Libs)
    @Html.Raw(ViewBag.Sources)
    @Html.Raw(ViewBag.Tests)

    <div id="mocha"><!-- Here will be placed test results --></div>

    <script>mocha.run();</script> <!-- Run tests -->

</body>
</html>
